@model Master_With_CURD_Operations.Models.Category
@using System.Data;
<style>
        .table{
            padding: 2px;
            margin: 2px;
            text-align: center;
        }
    .th {
        text-align: center;
    }
</style>

@{
    DataTable dt = (DataTable)ViewData["Data"];
}

@using (Html.BeginForm())
{
    <table class="table" border="1" align="center">
        <tr>
            <th class="th">Category ID</th>
            <th class="th">Category Name</th>
        </tr>
        @for(int i=0;i<dt.Rows.Count;i++)
        {
            <tr>
                <td>@dt.Rows[i]["CategoryID"]</td>
                <td>@dt.Rows[i]["CategoryName"]</td>
                
                <td>
                    <a href="@Url.Action("Delete","Category", new { @CategoryID = dt.Rows[i]["CategoryID"] })">Delete</a>
                </td>
                
                <td>
                    <a href="@Url.Action("Update","Category", new { @CategoryID = dt.Rows[i]["CategoryID"], @CategoryName = dt.Rows[0]["CategoryName"] })">Edit</a>

                </td>
            </tr>
        }
    </table>
    
}




