@model Master_With_CURD_Operations.Models.Product
@using System.Data;

@{
    ViewBag.Title = "DisplayProductList";
}

<style>
    .table {
        margin: 2px;
        padding: 2px;
        text-align: center;
    }

    .th {
        text-align: center;
    }
</style>


@{
    DataTable dt = (DataTable)ViewData["Data"];
}

@using (Html.BeginForm())
{
    <table class="table" border="1"
           cellspacing="10"
           cellpadding="10">
        <tr>
            <th class="th">Product ID</th>
            <th class="th">Product Name</th>
            <th class="th">Category ID</th>
            <th class="th">Category Name</th>
        </tr>
        @for (int i = 0; i < dt.Rows.Count; i++)
        {
            <tr>
                <td>@dt.Rows[i]["ProductID"]</td>
                <td>@dt.Rows[i]["ProductName"]</td>
                <td>@dt.Rows[i]["CategoryID"]</td>
                <td>@dt.Rows[i]["CategoryName"]</td>
            </tr>
        }
    </table>

}


