@model Master_With_CURD_Operations.Models.Product
@{
    ViewBag.Title = "Save";
}


@using (Html.BeginForm())
{
    <br />
    <br />
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.ProductID)</td>
            <td>@Html.EditorFor(m => m.ProductID)</td>

        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ProductName)</td>
            <td>@Html.EditorFor(m => m.ProductName)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>

}







